#gallery {
  background-color: rgb(34, 33, 30);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  border: 2px solid rgb(202, 189, 189);
  box-shadow: 3px 3px 2px 1px rgb(216, 208, 208);
  padding: 20px;
}

.container{
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3)
}
.Task_Number{
  color: #908d8d;
}
img {
  height: 250px;
  border: 2px solid rgb(218, 209, 209);
  box-shadow: 1px 1px 1px 1px rgb(216, 208, 208);
}

button {
  color: rgb(230, 188, 62);
  font-size: 26px;
  background-color: rgb(34, 33, 30);
  width: 200px;
  height: 70px;
  border: 2px solid rgb(27, 25, 26);
  margin: 15px;
  outline: none;
  cursor: pointer;
}

#value{
    font-size: 30px;
    font-weight: 800;
    color: rgb(66, 9, 83);
}

#validation-input.valid {
  outline: 3px solid #4caf50;
}

#validation-input.invalid {
  outline: 3px solid #f44336;
}


#font-size-slider{
  margin-top: 50px;
  display: block;
}